<li class="nav-item">
        <a class="nav-link text-dark" href="/Auth/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Auth">Login</a>
    </li>